.hero-title {
  margin-right: 1.0rem;
  margin-bottom: 0rem;
  font-size: 1.4rem;
  font-weight: bold;
  display: inline-block;
}

.new-room-button {
  height: 1.6rem;
  margin-top: 0.3rem;
  padding: 0.28rem 0.6rem 0.25rem 0.6rem;
  display: inline-block;
  vertical-align: text-bottom;
  background-color: rgb(245, 245, 245);
  color: #666666;
  border: none;
}

.new-room-button:hover {
  background-color: rgb(251, 251, 251);
}


.rooms-list {
  list-style-type: none;
  padding-left: 0.1rem;
}

.rooms-list li{
  font-size: 1.0rem;
  margin-bottom: 0.5rem;
}

.wrap {
  position: fixed;
  height: 100%;
  width: 100%;
}

.nav-bar {
  margin: 0;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #DDDDDD;
  box-sizing: border-box;
  width: 24%;
  max-width: 250px;
  height: 100%;
  overflow: auto;
  color: #444444;
  float: left;
}

.room-view {
  height: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.4rem;
  background-color: white;
  overflow: auto;
}

.room-title {
  font-size: 1.4rem
}

.messages-list {
  padding-left: 0.1rem;
  list-style-type: none;
}

.messages-list li {
  padding-bottom: 3px;
  border-bottom: solid 1px;
  border-color: rgb(190, 190, 190);
}

.message-username {
  color: rgb(190, 190, 190);
  font-size: 0.8rem;
}

.message-time {
  float: right;
}
