
<div class="wrap">
    <div class="nav-bar">

        <div class="hero-title">Bloc Chat</div>
        <button class="new-room-button" type="button" ng-click="main.openNewRoomModal()">New room</button>

        <ul class="rooms-list">
            <li class="room-name" ng-repeat="room in main.chatRoomArray" ng-click="main.setCurrentRoom(room)">
                  {{room.$value}}
            </li>
        </ul>

    </div>

    <div class="room-view" >
        <span class="room-title">{{main.currentRoomTitle}}</span>
     <ul class="messages-list">
          <li class="message" ng-repeat="message in main.messageArray track by $index">
              <span class="message-username">{{message.user}}</span><br>
              <span class="message-content">{{message.content}}</span><span class="message-time">{{message.sentAt}}</span>
          </li>
      </ul>
            <form class="message-form" ng-submit="main.sendMessage()">
          <input type="text" class="message-input" placeholder="Write your message here..." ng-model="main.message">
          <input type="submit" class="button-sendmessage" value="Send">
      </form>
    </div>
</div>
