
<div class="wrap">
    <div class="nav-bar">

        <div class="hero-title">Bloc Chat</div>
        <button class="new-room-button" type="button" ng-click="main.openNewRoomModal()">New room</button>

        <ul class="rooms-list">
            <li class="room-name" ng-repeat="item in main.chatRoomArray" ng-click="main.setCurrentRoom(item.$value, item.$id)">
                  {{item.$value}}
            </li>
        </ul>

    </div>

    <div class="room-view" >
        <span class="room-title">{{main.currentRoomTitle}}</span>
        <ul class="messages-list">
            <li class="message" ng-repeat="message in main.messageArray">
                <span class="message-content">{{message.content}}</span>
            </li>
        </ul>
    </div>
</div>
