<div class="modal-new-room">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Create new room</h3>
    </div>
    <div class="modal-form-box">
        <form class="modal-form" ng-submit="modal.addData()">
            <div class="status-bar">{{modal.statusBar}}</div>
            <input type="text" class="room-input" value="" ng-model="modal.inputData"><br>
            <input type="button" class="modal-button cancel" value="Cancel" ng-click="modal.cancel()">
            <input type="submit" class="modal-button create" value="Create Room">
        </form>
    </div>
</div>
